#mainGoogle {
    padding: 200px;
}

img {
    display: block;
    margin: auto;
}

#searchWrapper {
    text-align: center;
}

#searchBar {
    width: 484px;
    height: 35px;
    margin-top: 40px;
    border-radius: 15px;
    border: 1px solid;
    border-color: lightgray;
    outline: 0;
    padding-left: 40px;
}

.searchButton {
    text-align: center;
    padding-top: 30px;
}

.material-icons.position {
    position: relative;
    left: 35px;
    top: 8px;
    color: grey;
}